/* ---------- TYPOGRAPHY ---------- */
.text {
    display: block;
    @include fluid-type(320px, 1680px, 14px, 14px);
    font-family: $IBMPlexSans;
    // color: $black;
    color: $text-color04;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0;
    line-height: normal;

    /* ---------- TEXT VARIATIONS ---------- */
    &.bigtitle {
        @include fluid-type(320px, 1680px, 38px, 48px);
        font-weight: 700;
    }
    &.moreTitle {
        @include fluid-type(320px, 1680px, 20px, 24px);
        font-weight: 600;
    }
    &.title {
        @include fluid-type(320px, 1680px, 16px, 18px);
        font-weight: 600;
    }
    &.banner-title {
        @include fluid-type(320px, 1680px, 16px, 18px);
    }
    &.subtitle {
        @include fluid-type(320px, 1680px, 14px, 16px);
        font-weight: 600;
    }
    &.small-text {
        @include fluid-type(320px, 1680px, 10px, 12px);
    }
    &.youtubeText {
        @include fluid-type(320px, 1680px, 16px, 18px);
    }

    &.home-text {
        font-weight: 400;
        font-size: 24px;
        line-height: normal;
        text-align: center;
        max-width: 470px;
    }

    &.home-tumbstitle {
        @include fluid-type(320px, 1680px, 18px, 20px);
    }
    &.home-tumbsSubtitle {
        @include fluid-type(320px, 1680px, 30px, 36px);
        font-weight: 500;
        line-height: 1.1;
        padding: 25px 0;
    }
    &.home-tumbsText {
        @include fluid-type(320px, 1680px, 18px, 20px);
    }

    &.header-tumbstitle {
        @include fluid-type(320px, 1680px, 9px, 12px);
        // line-height: 0.9;
    }
    &.header-tumbsSubtitle {
        @include fluid-type(320px, 1680px, 11px, 14px);
        font-weight: 600;
        line-height: 1.1;
    }
    &.header-tumbsText {
        @include fluid-type(320px, 1680px, 18px, 20px);
    }

    &.modalops {
        @include fluid-type(320px, 1680px, 26px, 32px);
        color: #27ae60;
        font-weight: 700;
    }
    &.modaltitle {
        @include fluid-type(320px, 1680px, 16px, 18px);
        font-weight: 600;
        color: #4a4a4a;
    }
    &.modaloption {
        @include fluid-type(320px, 1680px, 16px, 18px);
        font-weight: 300;
        color: #4a4a4a;
    }

    /* ---------- FONTS VARIATIONS ---------- */
    &.italic {
        font-style: italic;
    }
    &.bold {
        font-weight: 700;
    }
    &.medium {
        font-weight: 500;
    }
    &.semibold {
        font-weight: 600;
    }
    &.regular {
        font-weight: 400;
    }
    &.uppercase {
        text-transform: uppercase;
    }

    /* ---------- TEXT COLORS ---------- */
    &.white {
        color: $white;
    }
    &.blue {
        color: $blue;
    }
    &.red {
        color: $red;
    }
    &.gray {
        color: $gray;
    }
    &.text-color01 {
        color: $text-color01;
    }
    &.text-color02 {
        color: $text-color02;
    }
    &.text-color03 {
        color: $text-color03;
    }
    &.text-color04 {
        color: $text-color04;
    }
    &.text-color05 {
        color: $text-color05;
    }
    &.text-color06 {
        color: $text-color06;
    }
    &.text-color07 {
        color: $text-color07;
    }
}
