/* ---------- TYPOGRAPHY ---------- */
.text {
    display: block;
    @include fluid-type(320px, 1680px, 14px, 16px);
    font-family: $IBMPlexSans;
    color: $black;
    text-align: left;
    margin: 0;
    padding: 0;
    // line-height: 1;

    /* ---------- TEXT VARIATIONS ---------- */
    &.bigtitle {
        @include fluid-type(320px, 1680px, 38px, 48px);
        font-weight: 600;
    }
    &.title {
        @include fluid-type(320px, 1680px, 20px, 24px);
        font-weight: 600;
    }
    &.subtitle {
        @include fluid-type(320px, 1680px, 16px, 18px);
        font-weight: 600;
    }
    &.small-text {
        @include fluid-type(320px, 1680px, 10px, 12px);
    }
    &.home-bigtitle {
        @include fluid-type(320px, 1680px, 28px, 32px);
        font-weight: 600;
    }
    &.home-title {
        @include fluid-type(320px, 1680px, 10px, 20px);
        font-weight: 600;
    }

    /* ---------- FONTS VARIATIONS ---------- */
    &.italic {
        font-style: italic;
    }
    &.bold {
        font-weight: 700;
    }
    &.uppercase {
        text-transform: uppercase;
    }

    /* ---------- TEXT COLORS ---------- */
    &.white {
        color: $white;
    }
    &.blue {
        color: $blue;
    }
    &.red {
        color: $red;
    }
    &.gray {
        color: $gray;
    }
    &.text-color01 {
        color: $text-color01;
    }
    &.text-color02 {
        color: $text-color02;
    }
    &.text-color03 {
        color: $text-color03;
    }
    &.text-color04 {
        color: $text-color04;
    }
}
