/* Start Theme Colors */
body {
    &.blue-theme {
        .about-page {
            svg {
                fill: $blue;
            }
            .about-card {
                &:hover {
                    .about-card-content {
                        svg {
                            path {
                                fill: $blue;
                            }
                        }
                    }
                }
                .about-card-content {
                    .about-me-content {
                        h1 {
                            span {
                                color: $blue;
                            }
                        }
                    }
                    .about-resume-content {
                        .about-resume-text {
                            svg {
                                path {
                                    fill: $blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.pink-theme {
        .about-page {
            svg {
                fill: $pink;
            }
            .about-card {
                &:hover {
                    .about-card-content {
                        svg {
                            path {
                                fill: $pink;
                            }
                        }
                    }
                }
                .about-card-content {
                    .about-me-content {
                        h1 {
                            span {
                                color: $pink;
                            }
                        }
                    }
                    .about-resume-content {
                        .about-resume-text {
                            svg {
                                path {
                                    fill: $pink;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.green-theme {
        .about-page {
            svg {
                fill: $green;
            }
            .about-card {
                &:hover {
                    .about-card-content {
                        svg {
                            path {
                                fill: $green;
                            }
                        }
                    }
                }
                .about-card-content {
                    .about-me-content {
                        h1 {
                            span {
                                color: $green;
                            }
                        }
                    }
                    .about-resume-content {
                        .about-resume-text {
                            svg {
                                path {
                                    fill: $green;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.yellow-theme {
        .about-page {
            svg {
                fill: $yellow;
            }
            .about-card {
                &:hover {
                    .about-card-content {
                        svg {
                            path {
                                fill: $yellow;
                            }
                        }
                    }
                }
                .about-card-content {
                    .about-me-content {
                        h1 {
                            span {
                                color: $yellow;
                            }
                        }
                    }
                    .about-resume-content {
                        .about-resume-text {
                            svg {
                                path {
                                    fill: $yellow;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* End Theme Colors */

.about-page {
	svg {
        width: 30px;
        height: 30px;
        min-width: 30px;
        fill: $blue;
    }
    .about-cards {
        padding: 0 20px;
        margin: -20px 0;
        > div {
            > div {
                margin: 20px 0;
            }
        }
    }
    .about-card {
        &:hover {
            .about-card-content {
                svg {
                    path {
                        fill: $blue;
                    }
                }
            }
        }
        .about-card-content {
            // padding: 30px;
            height: 100%;
            .about-me-content {
                h1 {
                    margin-bottom: 15px;
                    width: 100%;
                    span {
                        margin-left: 5px;
                        color: $blue;
                    }
                }
                .about-me-text {
                    margin-bottom: 30px;
                    text-align: justify;
                }
            }
            .about-me-facts {
                div {
                    padding: 5px 0;
                    span {
                        padding-left: 10px;
                    }
                }
            }
            .about-resume-content {
                padding: 30px 0;
                .about-resume-text {
                    text-align: justify;
					line-height: 1.5;
                    svg {
                        width: 50px;
                        height: 50px;
                        path {
                            fill: $blue;
                        }
                        &:first-child {
                            margin: -30px 15px 0 0;
                        }
                        &:last-child {
                            margin: 0px 0px -30px 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .about-page {
        .about-cards {
            padding: 0 50px;
            margin: -30px 0;
            > div {
                > div {
                    margin: 30px 0;
                }
            }
        }
    }
}


@media (min-width: 1300px) {
    .about-page {
        .about-cards {
            padding: 0;
            margin: 0;
            > div {
                > div {
                    margin: 0;
                }
            }
        }
    }
}
