.about-me {
    padding-bottom: 20px;
    .about-me-inner {
        .about-me-card {
            box-shadow: 2.67435px 2.67435px 2.67435px 0px rgba(0, 0, 0, 0.3);
            width: 300px;
            height: 117px;
            position: relative;
            // &:hover {
            //     box-shadow: 2.67435px 2.67435px 2.67435px 0px rgba($blue, 0.5);
            // }

            .about-me-card-image {
                // background: #d7e9f6;
                width: 157px;
                height: 100%;
                img {
                    width: 157px;
                    height: 117px;
                }
            }
            .about-me-card-content {
                height: 100%;
                padding: 0 0 0 20px;
                .line {
                    height: 1px;
                    width: 18px;
                    background-color: $text-color03;
                    margin: 10px 0;
                }
            }
        }

        .about-me-content {
            margin-left: 35px;
            width: 310px;
            strong {
                display: inline-block;
            }
        }
    }
}

.about-banner {
    position: relative;
    .banner-image {
        width: 100%;
        height: 850px;
        &:before {
            content: '';
            background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 35.18%);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .banner-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .container {
            height: 100%;
        }
        .banner-content-inner {
            height: 100%;
            width: 100%;
            .banner-content-sides {
                width: 100%;
                margin-bottom: 12%;
                .banner-card {
                    box-shadow: 2.67435px 2.67435px 2.67435px 0px rgba(0, 0, 0, 0.3);
                    width: 448px;
                    height: 176px;
                    position: relative;
                    // &:hover {
                    //     box-shadow: 2.67435px 2.67435px 2.67435px 0px rgba($blue, 0.5);
                    // }

                    .banner-card-image {
                        background: #15487d;
                        width: 234px;
                        height: 100%;
                        img {
                            width: 148px;
                            height: 54px;
                        }
                    }
                    .banner-card-content {
                        background: $white;
                        height: 100%;
                        padding: 0 0 0 20px;
                        width: 214px;
                        .line {
                            height: 1px;
                            width: 25px;
                            background-color: $text-color03;
                            margin: 10px 0;
                        }
                    }
                }
                .banner-content-right {
                    .banner-card {
                        // &:hover {
                        //     box-shadow: 2.67435px 2.67435px 2.67435px 0px rgba(179, 11, 0, 0.5);
                        // }

                        .banner-card-image {
                            background: rgb(179, 11, 0);
                            img {
                                width: 113px;
                                height: 113px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.my-infos {
    margin: 65px 0 0;
    padding: 50px 0 0;
    .my-infos-items {
        .my-infos-item {
            padding: 50px 0;
            position: relative;
            .my-infos-item-title {
                width: 100%;
                a {
                    border-radius: 30px;
                    background: #0066c8;
                    padding: 5px 15px;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    &:hover {
                        background: darken(#0066c8, 10%);
                    }
                }
            }
        }
    }
}

.go-back {
    &.agency {
        .go-back-inner {
            .go-back-sides {
                .go-back-card {
                    .go-back-card-image {
                        background: #d7e9f6;
                        width: 234px;
                        height: 100%;
                        img {
                            width: 160px;
                            height: 121px;
                        }
                    }
                }
                .go-back-right {
                    margin-left: 0;
                    .go-back-card {
                        .go-back-card-image {
                            background: #d9d7f0;
                            img {
                                width: 170px;
                                height: 97px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.mapping {
        .go-back-inner {
            .go-back-sides {
                .go-back-card {
                    .go-back-card-image {
                        background: #d3e4cf;
                        width: 234px;
                        height: 100%;
                        img {
                            width: 70px;
                            height: 133px;
                        }
                    }
                }
                .go-back-right {
                    margin-left: 0;
                    .go-back-card {
                        .go-back-card-image {
                            background: #d9d7f0;
                            img {
                                width: 170px;
                                height: 97px;
                            }
                        }
                    }
                }
            }
        }
    }
    .go-back-inner {
        .go-back-title {
            .line {
                height: 1px;
                background: $text-color03;
                width: 82px;
                margin-bottom: 10px;
            }
        }
        .go-back-sides {
            width: 100%;
            // margin-bottom: 200px;
            .go-back-card {
                box-shadow: 2.67435px 2.67435px 2.67435px 0px rgba(0, 0, 0, 0.3);
                width: 448px;
                height: 176px;
                position: relative;
                // &:hover {
                //     box-shadow: 2.67435px 2.67435px 2.67435px 0px rgba($blue, 0.5);
                // }

                .go-back-card-image {
                    background: #d3e4cf;
                    width: 234px;
                    height: 100%;
                    img {
                        width: 70px;
                        height: 133px;
                    }
                }
                .go-back-card-content {
                    background: $white;
                    height: 100%;
                    padding: 0 0 0 20px;
                    width: 214px;
                    .line {
                        height: 1px;
                        width: 25px;
                        background-color: $text-color03;
                        margin: 10px 0;
                    }
                }
            }
            .go-back-right {
                margin-left: 30px;
                .go-back-card {
                    .go-back-card-image {
                        background: #d7e9f6;
                        img {
                            width: 160px;
                            height: 121px;
                        }
                    }
                }
            }
        }
    }
}

.container-less-about {
    max-width: 590px;
}
