.architecture-banner {
    padding: 110px 0;
    background: $backgroundGradientBlue;
    .left-infos {
        .text-line {
            width: 41px;
            height: 2px;
            background: $white;
            margin: 15px 0;
        }
    }

    .right-infos {
        max-width: 544px;

        .subdesc {
            margin-top: 5px;
        }

        .top-text {
        }

        .mid-text {
            margin-top: 20px;
            width: 100%;
        }
        .bottom-text {
            margin-top: 20px;
            .left-text {
            }
            .right-text {
            }
        }
    }
}

.undestanding-problem {
    padding: 20px 0;
    &.architecture {
        .undestanding-problem-text {
            padding: 20px 0;
            b {
                color: $white;
                background: $blue;
            }
        }
        .getting-started-more-text {
            margin: 0 -20px 10px;
            .box-item {
                padding: 0 20px;
                width: 50%;
                .text {
                    &.title {
                        margin: 10px 0 30px;
                    }
                }

                .getting-started-links {
                    margin-top: 10px;
                    a {
                        font-size: 10px;
                        color: $blue;
                        text-decoration: underline;
                    }
                }
            }
        }
        .undestanding-problem-text-bottom {
            margin-top: 40px;
            .getting-started-links {
                margin-top: 10px;
                a {
                    color: $blue;
                    text-decoration: underline;
                }
            }
        }
    }
}

.polygon-brands {
    .polygon-brands-content {
        margin: 0 -40px;
        .box-item {
            padding: 0 40px;
            width: 256px;

            &.tinder {
                margin-top: 60px;
                img {
                    width: 119px;
                    height: 67px;
                }
            }
            &.fiverr {
                img {
                    width: 126px;
                    height: 75px;
                }
                .polygon {
                    margin-top: 45px;
                }
            }
            &.glassdoor {
                margin-top: 30px;
                img {
                    width: 168px;
                    height: 113px;
                }
            }
            &.socialblade {
                margin-top: 60px;
                img {
                    width: 205px;
                    height: 27px;
                }
            }
            &.notion {
                margin-top: 50px;
                img {
                    width: 157px;
                    height: 58px;
                }
            }
        }
    }
}

.uxr {
    margin: 20px 0;
    .text {
        &.subtitle {
            margin: 20px 0;
        }
    }
    .getting-started-text {
        span {
            b {
                background: $blue;
                color: $white;
            }
        }
    }
    img {
        margin-top: 10px;
    }
}

.journey-mapping {
    &.architecture {
        margin: 20px 0;
        .text {
            &.subtitle {
                margin: 20px 0;
            }
        }
        .journey-mapping-text {
            span {
                b {
                    background: $blue;
                    color: $white;
                }
            }
        }
        img {
            margin-top: 10px;
        }

        .journey-mapping-more-text {
            .more-text-items {
                margin: 0 20px;
                .more-text-item {
                    padding: 0 20px;
                    width: 100%;
                }
            }
        }
    }
}

.major-insights {
    margin: 20px 0;
    .text {
        &.title {
            margin: 20px 0;
        }
    }
    .major-insights-text {
        span {
            b {
                background: $blue;
                color: $white;
            }
        }
    }

    .major-insights-more-text {
        background-color: $background-button;
        padding: 45px 0;
        margin: 20px 0;
        position: relative;
        &:before {
            background-color: $background-button;
            content: '';
            display: block;
            width: 200vw;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, 0);
        }
        .more-text-items {
            margin: 10px 0;
            z-index: 2;
            position: relative;
            .more-text-item {
                width: 30%;
                padding: 10px 0;
                position: relative;
                &:nth-child(n + 5):nth-child(-n + 8) {
                    &:before {
                        background: #d9b8ff;
                    }
                }
                &:before {
                    display: block;
                    content: '';
                    width: 12px;
                    height: 12px;
                    border-radius: 99px;
                    background: #80caff;
                    position: absolute;
                    top: 15px;
                    left: -15px;
                }
                span {
                    b {
                        background: $blue;
                        color: $white;
                    }
                }
            }
        }
    }

    .major-insights-bottom-text {
        span {
            b {
                background: $blue;
                color: $white;
            }
        }
    }
}
