/* Start Theme Colors */
body {
    &.blue-theme {
        .experiences-page {
            svg, path {
                fill: $blue;
            }
        }  
        .timeline-item {
            border-left: 3px solid $blue;            
            &:hover {
                &:before {
                    box-shadow: 0 0 20px $blue05;
                    background: $blue;
                }
                .timeline-item-content {
                    .about-card-content {
                        svg {
                            path {
                                fill: $blue;
                            }
                        }
                    }
                }
            }    
            &:before {
                background: $background-gradient-03;
                border: 3px solid $blue;
            }
            .timeline-item-content { 
                .title {
                    color: $blue;
                }
                .subtitle {
                    color: $blue05;
                }
            }
        }
    }
    &.pink-theme {
        .experiences-page {
            svg, path {
                fill: $pink;
            }
        }       
        .timeline-item {
            border-left: 3px solid $pink;            
            &:hover {
                &:before {
                    box-shadow: 0 0 20px $pink05;
                    background: $pink;
                }
                .timeline-item-content {
                    .about-card-content {
                        svg {
                            path {
                                fill: $pink;
                            }
                        }
                    }
                }
            }          
            &:before {
                border: 3px solid $pink;
            }
            .timeline-item-content {
                .title {
                    color: $pink;
                }
                .subtitle {
                    color: $pink05;
                }
            }
        }
    }
    &.green-theme {
        .experiences-page {
            svg, path {
                fill: $green;
            }
        }
        .timeline-item {
            border-left: 3px solid $green;            
            &:hover {
                &:before {
                    box-shadow: 0 0 20px $green05;
                    background: $green;
                }
                .timeline-item-content {
                    .about-card-content {
                        svg {
                            path {
                                fill: $green;
                            }
                        }
                    }
                }
            }         
            &:before {
                border: 3px solid $green;
            }
            .timeline-item-content {
                .title {
                    color: $green;
                }
                .subtitle {
                    color: $green05;
                }
            }
        }
    }
    &.yellow-theme {
        .experiences-page {
            svg, path {
                fill: $yellow;
            }
        } 
        .timeline-item {
            border-left: 3px solid $yellow;            
            &:hover {
                &:before {
                    box-shadow: 0 0 20px $yellow05;
                    background: $yellow;
                }
                .timeline-item-content {
                    .about-card-content {
                        svg {
                            path {
                                fill: $yellow;
                            }
                        }
                    }
                }
            }        
            &:before {
                border: 3px solid $yellow;
            }
            .timeline-item-content {   
                .title {
                    color: $yellow;
                }
                .subtitle {
                    color: $yellow05;
                }
            }
        }
    }
}
/* End Theme Colors */


.experiences-page {
	svg, path {
        width: 20px;
        height: 20px;
        fill: $blue;
    }
}

.experiences-timeline {
    padding: 100px 20px;
}

.timeline-item {
    border-left: 3px solid $blue;
    padding: 50px 0;
    &:first-child {
        padding: 150px 0 50px;
    }
    &:last-child {
        padding: 50px 0 200px;
    }
    &:hover {
        &:before {
            box-shadow: 0 0 20px $blue05;
            background: $blue;
        }
        .timeline-item-content {
            .about-card-content {
                svg {
                    path {
                        fill: $blue;
                    }
                }
            }
        }
    }    
    &:before {
        background: $background-gradient-03;
        border-radius: 100px;
        border: 3px solid $blue;
        content: "";
        display: inline-block;
        height: 20px;
        width: 20px;
        min-width: 20px;
        margin-left: -12px;
        @include transition();
    }
    .timeline-item-date {
        margin: -17px 0 0 20px;
        span {
            white-space: nowrap;
        }
    }
    .timeline-item-content {
        margin: 20px 0 0 10px;
        &:hover {
            .about-card-content {
                svg {
                    path {
                        fill: $blue;
                    }
                }
            }
        }
        .title {
            color: $blue;
        }
        .subtitle {
            color: $blue05;
            padding: 10px 0 20px;
        }
        .timeline-item-text {
            text-align: justify;
            svg {
                &:first-child {
                    margin-right: 10px;
                }
                &:last-child {
                    margin-left: 10px;
                }
            }
        }
    }
}



@media (min-width: 768px) {
    .experiences-timeline {
        padding: 50px 50px;
    }
    .timeline-item {
        .timeline-item-date {
            margin: 0 0 0 10px;
        }
        .timeline-item-content {
            margin: 0 0 0 30px;
        }
    }
}

@media (min-width: 1500px) {
    .timeline-item {
        .timeline-item-content {
            width: 60%;
        }
    }
}
