.header {
}

.nav-menu {
    margin: 0 -10px;
    padding: 25px 0;
    @include transition();
    .header-menu-item {
        position: relative;
        display: block;
        margin: 0 10px;
        @include transition();
        &:after {
            content: '';
            position: absolute;
            width: 0;
            background: $blue;
            height: 1px;
            right: 0;
            bottom: -10px;
            @include transition();
        }
        &:focus,
        &:active,
        &:hover,
        &.router-link-active,
        &.router-link-exact {
            color: $blue;
            &:after {
                left: 0;
                right: auto;
                width: 100%;
            }
        }
    }
}
