.home-infos {
    padding: 95px 0;
    .left-infos {
        .text-line {
            width: 41px;
            height: 2px;
            background: $text-color03;
            margin: 15px 0;
        }
    }

    .right-infos {
        max-width: 544px;

        .subdesc {
            margin-top: 15px;
        }
        .top-text {
        }
        .bottom-text {
            margin-top: 20px;
            .left-text {
            }
            .right-text {
            }
        }
    }
}

.home-tumbs {
    .tumbs-items {
        .tumb-item {
            width: 299px;
            height: 299px;
            background: $backgroundGradientBlue2;
            padding: 0 34px;
            span {
                &:first-child {
                    padding-bottom: 15px;
                }
            }
            &:first-child {
                background: $backgroundGradientRed2;
            }
            &:last-child {
                background: $backgroundGradientGreen2;
            }
        }
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
