.home-infos {
    padding: 95px 0;
    .left-infos {
        .text-line {
            width: 41px;
            height: 2px;
            background: $text-color03;
            margin: 16px 0 10px;
        }
    }

    .right-infos {
        max-width: 544px;

        .subdesc {
            margin-top: 12px;
        }
        .top-text {
        }
        .bottom-text {
            margin: 33px -10px 0;
            .bottom-text-item {
                padding: 0 10px;
                &.left-text {
                }
                &.right-text {
                }
            }
        }
    }
}

.home-tumbs {
    .tumbs-items {
        .tumb-item {
            width: 292px;
            height: 292px;
            background: $backgroundGradientBlue2;
            padding: 0 34px;
            cursor: pointer;
            &:first-child {
                background: $backgroundGradientRed2;
            }
            &:last-child {
                background: $backgroundGradientGreen2;
            }
        }
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
