body {
    &.blue-theme {
        .lang-menu {
            &.showHide {
                .lang-menu-dropdown {
                    background: $background-gradient-01;
                    box-shadow: rgba($blue, 0.4) 0px 1px 2px 0px, rgba($blue, 0.25) 0px 2px 6px 2px;
                    &:hover {
                        box-shadow: rgba($blue, 0.15) 0px 20px 25px -5px, rgba($blue, 0.1) 0px 10px 10px -5px;
                    }
                }
            }
        }
        .lang-menu-dropdown {
            .dropdown-item {
                &.active {
                    background: $blue05;
                }
            }
        }
    }
    &.pink-theme {
        .lang-menu {
            &.showHide {
                .lang-menu-dropdown {
                    box-shadow: rgba($pink, 0.4) 0px 1px 2px 0px, rgba($pink, 0.25) 0px 2px 6px 2px;
                    &:hover {
                        box-shadow: rgba($pink, 0.15) 0px 20px 25px -5px, rgba($pink, 0.1) 0px 10px 10px -5px;
                    }
                }
            }
        }
        .lang-menu-dropdown {
            .dropdown-item {
                &.active {
                    background: $pink05;
                }
            }
        }
    }
    &.green-theme {
        .lang-menu {
            &.showHide {
                .lang-menu-dropdown {
                    box-shadow: rgba($green, 0.4) 0px 1px 2px 0px, rgba($green, 0.25) 0px 2px 6px 2px;
                    &:hover {
                        box-shadow: rgba($green, 0.15) 0px 20px 25px -5px, rgba($green, 0.1) 0px 10px 10px -5px;
                    }
                }
            }
        }
        .lang-menu-dropdown {
            .dropdown-item {
                &.active {
                    background: $green05;
                }
            }
        }
    }
    &.yellow-theme {
        .lang-menu {
            &.showHide {
                .lang-menu-dropdown {
                    box-shadow: rgba($yellow, 0.4) 0px 1px 2px 0px, rgba($yellow, 0.25) 0px 2px 6px 2px;
                    &:hover {
                        box-shadow: rgba($yellow, 0.15) 0px 20px 25px -5px, rgba($yellow, 0.1) 0px 10px 10px -5px;
                    }
                }
            }
        }
        .lang-menu-dropdown {
            .dropdown-item {
                &.active {
                    background: $yellow05;
                }
            }
        }
    }
}

.lang-menu {
    background: transparent;
    position: fixed;
    top: 10px;
    right: 50px;
    z-index: 20;
    &.showHide {
        .lang-menu-dropdown {
            border-radius: 15px;
            background: $background-gradient-01;
            @include transition();
            box-shadow: rgba($blue, 0.4) 0px 1px 2px 0px, rgba($blue, 0.25) 0px 2px 6px 2px;
            text-align: center;
            margin: 10px 0px 0px -15px;
            &:hover {
                transform: translateY(-3px);
                box-shadow: rgba($blue, 0.15) 0px 20px 25px -5px, rgba($blue, 0.1) 0px 10px 10px -5px;
            }
        }
    }
}
.lang-menu-button {
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    width: 100%;
    position: relative;
    text-align: left;
    padding: 0 30px 0 0;
    img {
        width: 32px;
    }
    svg {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
    }
}
.lang-menu-dropdown {
    width: 100%;
    .dropdown-item {
        padding: 10px 0;
        color: white;
        cursor: pointer;
        &:first-child {
            border-radius: 15px 15px 0 0;
        }
        &:last-child {
            border-radius: 0 0 15px 15px;
        }
        &.active {
            background: $blue05;
        }
        img {
            width: 32px;
        }
    }
}

@media (min-width: 992px) {
    .lang-menu {
        right: 150px;
    }
}
