.pages {
    min-height: calc(100vh - 348px);

    &.home-page {
        min-height: calc(100vh - 179px);
        .container {
            max-width: 928px;
        }
    }
    &.agency-page,
    &.mapping-page,
    &.youtube-page {
        margin-top: 145px;
    }

    &.mapping-page {
        .quick-summary {
            .quick-summary-buttons {
                a {
                    &.skip-ahead-button {
                        background: $blue;
                    }
                    &:hover {
                        &.skip-ahead-button {
                            background: $blueHover;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
