/* Start Theme Colors */
body {
    &.blue-theme {
        .sidebar {
            .sidebar-desktop {
                border-right: 1px solid $blue;
                &:hover {
                    box-shadow: 0 0 15px $blue;
                }
            }
        }
        .sidebar-contact {
            ul {
                li {
                    &:after {
                        background: $blue05;
                    }
                    &:hover {
                        svg, path  {
                            fill: $blue;
                        }
                    }
                }
            }
        }
        .sidebar-social {
            ul {
                li {
                    &:hover {
                        svg, path {
                            fill: $blue;
                        }
                    }
                }
            }
        }
		.sidebar-link {
			a {
			  color: $blue;
			}
		}
    }
    &.pink-theme {
        .sidebar {
            .sidebar-desktop {
                border-right: 1px solid $pink;
                &:hover {
                    box-shadow: 0 0 15px $pink;
                }
            }
        }
        .sidebar-contact {
            ul {
                li {
                    &:after {
                        background: $pink05;
                    }
                    &:hover {
                        svg, path  {
                            fill: $pink;
                        }
                    }
                }
            }
        }
        .sidebar-social {
            ul {
                li {
                    &:hover {
                        svg, path {
                            fill: $pink;
                        }
                    }
                }
            }
        }
		.sidebar-link {
			a {
			  color: $pink;
			}
		}
    }
    &.green-theme {
        .sidebar {
            .sidebar-desktop {
                border-right: 1px solid $green;
                &:hover {
                    box-shadow: 0 0 15px $green;
                }
            }
        }
        .sidebar-contact {
            ul {
                li {
                    &:after {
                        background: $green05;
                    }
                    &:hover {
                        svg, path  {
                            fill: $green;
                        }
                    }
                }
            }
        }
        .sidebar-social {
            ul {
                li {
                    &:hover {
                        svg, path {
                            fill: $green;
                        }
                    }
                }
            }
        }
		.sidebar-link {
			a {
			  color: $green;
			}
		}
    }
    &.yellow-theme {
        .sidebar {
            .sidebar-desktop {
                border-right: 1px solid $yellow;
                &:hover {
                    box-shadow: 0 0 15px $yellow;
                }
            }
        }
        .sidebar-contact {
            ul {
                li {
                    &:after {
                        background: $yellow05;
                    }
                    &:hover {
                        svg, path  {
                            fill: $yellow;
                        }
                    }
                }
            }
        }
        .sidebar-social {
            ul {
                li {
                    &:hover {
                        svg, path {
                            fill: $yellow;
                        }
                    }
                }
            }
        }
		.sidebar-link {
			a {
			  color: $yellow;
			}
		}
    }
}
/* End Theme Colors */

.sidebar {
    .sidebar-desktop {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 320px;
        z-index: 10;
        background: $background-black;
        border-right: 1px solid $blue;
        @include transition();
    }
    .sidebar-mobile {
        .sidebar-content {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 100;
            -ms-transform: translateX(-100%);
            transform: translateX(-100%);
            background: $background-black;
            @include transition();
            &.show {
                transform: translateX(0);
            }
        }
    }
    .sidebar-profile {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 101;
    }
}

.sibebar-title {
    padding: 0 0 0 15px;
}

.sidebar-image {
    img {
        max-width: 250px;
        max-height: 250px;
    }
}

.sidebar-contact {
    padding: 30px 0 30px;
    ul {
        padding-top: 20px;
        li {
            padding: 5px 15px;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                width: 0;
                background: $blue05;
                height: 100%;
                right: 0;
                @include transition();
                z-index: -1;
            }
            svg {
                width: 20px;
                height: 20px;
            }
            span {
                margin-left: 10px;
            }
            &:hover {
                &:after {
                    left: 0;
                    right: auto;
                    width: 100%;
                }
                svg{
                    fill: $blue;
                }
            }
        }
    }
}

.sidebar-social {
    padding: 30px 0 30px;
    ul {
        padding-top: 20px;
        li {
            padding: 5px 15px;
            position: relative;
            a {
                svg {
                    width: 40px;
                    height: 40px;
                    path {
                        @include transition();
                    }
                }
            }
            &:hover {
                svg,  path {
                    fill: $blue;
                }
            }
        }
    }
}

.sidebar-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
  a {
    cursor: pointer;
    color: $blue;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
    body {
        &.blue-theme {
            .sidebar {
                .sidebar-mobile {
                    .sidebar-content {
                        border-right: 1px solid $blue;
                    }
                }
            }
        }
        &.pink-theme {
            .sidebar {
                .sidebar-mobile {
                    .sidebar-content {
                        border-right: 1px solid $pink;
                    }
                }
            }
        }
        &.green-theme {
            .sidebar {
                .sidebar-mobile {
                    .sidebar-content {
                        border-right: 1px solid $green;
                    }
                }
            }
        }
        &.yellow-theme {
            .sidebar {
                .sidebar-mobile {
                    .sidebar-content {
                        border-right: 1px solid $yellow;
                    }
                }
            }
        }
    }
    .sidebar {
        .sidebar-mobile {
            .sidebar-content {
                width: 320px;
                border-right: 1px solid $blue;
            }
        }
    }
}
