.uiux-banner {
    padding: 110px 0;
    background: $backgroundGradientRed;
    .left-infos {
        .text-line {
            width: 41px;
            height: 2px;
            background: $white;
            margin: 15px 0;
        }
    }

    .right-infos {
        max-width: 544px;

        .subdesc {
            margin-top: 5px;
        }

        .top-text {
        }

        .mid-text {
            margin-top: 20px;
            width: 100%;
        }
        .bottom-text {
            margin-top: 20px;
            .left-text {
            }
            .right-text {
            }
        }
    }
}

.obs-banner {
    padding: 40px 0 25px;
    span {
        b {
            background: $red;
            color: $white;
            // margin: 0 3px;
        }
    }
}

.quick-summary {
    .quick-summary-text {
        padding-top: 20px;
        span {
            b {
                background: $red;
                color: $white;
            }
        }
    }

    .quick-summary-buttons {
        margin: 15px -10px 0;
        a {
            margin: 0 10px;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 30px;
            @include transition();
            &.slide-button {
                background: $background-button;
            }
            &.skip-ahead-button {
                background: $red;
            }
            &:hover {
                &.slide-button {
                    color: $white;
                    background: $text-color04;
                }
                &.skip-ahead-button {
                    color: $white;
                    background: $redHover;
                }
            }
        }
    }
}

.getting-started {
    margin: 20px 0;
    .text {
        &.subtitle {
            margin: 20px 0;
        }
    }
    .getting-started-text {
        span {
            b {
                background: $red;
                color: $white;
            }
        }
    }
    .getting-started-links {
        margin: 10px 0 0;
        a {
            color: $blue;
            text-decoration: underline;
        }
    }

    .getting-started-box {
        margin: 20px 0 0;
        .text {
            .tex-subtitle {
                margin: 0;
            }
        }
        .box-item {
            background: $gray;
            padding: 25px 30px;
            width: 290px;
            &.box-right {
                width: 600px;
            }
        }
    }
}

.undestanding-problem {
    padding: 20px 0;
    .undestanding-problem-text {
        padding: 20px 0;
    }
    .getting-started-more-text {
        margin: 0 -20px 10px;
        .box-item {
            padding: 0 20px;
            width: 48%;
            &.box-right {
                width: 50%;
            }
            .text {
                &.subtitle {
                    margin-bottom: 10px;
                }
            }

            .getting-started-links {
                margin-top: 10px;
                a {
                    font-size: 10px;
                    color: $blue;
                    text-decoration: underline;
                }
            }
        }
    }
}
