.agency-banner {
    background: linear-gradient(180deg, #d3e4ce 71.81%, rgba(217, 217, 217, 0) 100%);

    .agency-banner-content {
        .agency-banner-content-inner {
            .bigtitle {
                margin: 30px 0 20px;
            }
        }
    }

    .agency-banner-image {
        margin-top: 100px;
        img {
            width: 992px;
            height: 755px;
        }
        // .banner-image-item {
        //     padding: 0 20px;
        // }
        // img {
        //     box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.3);
        //     border-radius: 50px;
        // }
        // .text {
        //     text-align: center;
        //     &.moreTitle {
        //         margin: 55px 0 25px;
        //     }
        // }
    }
}

.mapping-banner {
    background: linear-gradient(180deg, #d7e9f6 71.81%, rgba(217, 217, 217, 0) 100%);

    .mapping-banner-content {
        .mapping-banner-content-inner {
            .bigtitle {
                margin: 30px 0 20px;
            }
        }
    }

    .mapping-banner-image {
        margin-top: 100px;
        img {
            width: 100%;
            height: 100%;
            max-width: 761px;
            max-height: 576px;
        }
    }

    .mapping-banner-image-text {
        margin-top: 75px;
        .banner-text-items {
            .banner-text-item {
                width: 210px;
                span {
                    text-align: center;
                    &.moreTitle {
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}

.problem {
    padding-top: 100px;
    .problem-links {
        margin: 20px 0 0;
        a {
            color: $blue;
            text-decoration: underline;
        }
    }
}

.solution-image {
    .solution-image-item {
        width: 100%;
        height: 100%;
        max-width: 718px;
        max-height: 457px;
    }
}

.understandingUser {
    padding-top: 100px;
    .understandingUser-links {
        margin: 20px 0 0;
        a {
            color: $blue;
            text-decoration: underline;
        }
    }
}

.KeyInsights {
    .KeyInsights-table {
        margin-top: 20px;
        .KeyInsights-table-items {
            .KeyInsights-table-item {
                padding: 0 15px;
                &:last-child {
                    padding: 0 40px 0 0;
                }
                ul {
                    li {
                        span {
                            &:before {
                                content: '•';
                                color: $text-color01;
                                display: inline-block;
                                width: 10px;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.potentialSolutions {
    &.mapping {
        background: linear-gradient(180deg, #d8eaf7 0%, rgba(217, 217, 217, 0) 50.11%);
        .potentialSolutions-inner {
            .potentialSolutions-items {
                .potentialSolutions-item {
                    .item-percentage {
                        span {
                            font-size: 64px;
                        }
                    }
                    .item-text {
                        margin-top: 10px;
                        text-align: center;
                        width: 406px !important;
                        span {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    background: linear-gradient(180deg, #d4e5cf 0%, rgba(217, 217, 217, 0) 50.11%);
    padding: 60px 0;
    margin: 50px 0;
    width: 100%;
    height: 100%;
    .potentialSolutions-inner {
        .potentialSolutions-items {
            .potentialSolutions-item {
                background: #fff;
                box-shadow: 4px 8px 10px 0px rgba(0, 0, 0, 0.15);
                width: 100%;
                max-width: 540px;
                height: 331px;
                &.left-item {
                    .item-percentage {
                        span {
                            font-size: 64px;
                        }
                    }
                    .item-text {
                        margin-top: 10px;
                        text-align: center;
                        width: 324px;
                        span {
                            text-align: center;
                        }
                    }
                }
                &.right-item {
                    margin-left: 40px;
                    .item-title {
                        background: #d4e5cf;
                        width: 194px;
                        height: 100%;
                        span {
                            width: 105px;
                        }
                    }
                    .item-solutions {
                        width: calc(100% - 194px);
                        ul {
                            padding: 0px 40px 0 60px;
                            li {
                                .middle {
                                    margin: 20px 0;
                                }
                                span {
                                    &:before {
                                        content: '•';
                                        color: $text-color01;
                                        display: inline-block;
                                        width: 10px;
                                        margin-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.competitorResearch {
    .competitorResearch-items {
        .competitorResearch-item {
            &.left {
                .competitorResearch-image {
                    width: 100%;
                    height: 100%;
                    max-width: 264px;
                    max-height: 264px;
                }
            }
            &.right {
                margin-left: 117px;
                .competitorResearch-text {
                    width: 352px;
                }
            }
        }
    }
}

.ImpactEffortMatrix {
    padding: 100px 0;
    .ImpactEffortMatrix-items {
        .ImpactEffortMatrix-item {
            &.left {
                margin-right: 100px;
                .ImpactEffortMatrix-text {
                    width: 264px;
                }
            }
            &.right {
                .ImpactEffortMatrix-image {
                    width: 100%;
                    height: 100%;
                    max-width: 377px;
                    max-height: 328px;
                }
            }
        }
    }
}

.userPersonaCard {
    &.mapping {
        .userPersonaCard-image {
            max-height: 327px;
            &.bottom {
                margin-top: 100px;
            }
        }
    }
    .userPersonaCard-image {
        width: 100%;
        height: 100%;
        max-width: 807px;
        max-height: 409px;
    }
}

.Sitemap-image {
    .Sitemap-image-item {
        width: 100%;
        height: 100%;
        max-width: 800px;
        max-height: 382px;
    }
}

.sketches {
    .sketches-items {
        .sketches-item {
            margin-top: 50px;
            &:first-child {
                margin: 0;
            }
            .sketches-item-image {
                width: 448px;
                height: 166px;
            }
            .sketches-item-content {
                width: calc(100% - 448px);
                padding-left: 25px;
            }
        }
    }
}

.sketchesImage {
    .sketches-image {
        width: 972px;
        height: 376px;
    }
}

.LowFidelityPrototypesImage {
    &.mapping {
        .LowFidelityPrototypes-image {
            width: 928px;
            height: 488px;
        }
    }
    .LowFidelityPrototypes-image {
        width: 735px;
        height: 960px;
    }
}

.userTesting {
    ul {
        li {
            margin-top: 20px;
            span {
                margin-left: 10px;
                &:before {
                    content: '•';
                    color: $text-color01;
                    display: inline-block;
                    width: 10px;
                    margin-left: -10px;
                }
            }
        }
    }
}

.userTestingImage {
    &.mapping {
        .userTesting-image {
            width: 928px;
            height: 482px;
        }
    }
    .userTesting-image {
        width: 928px;
        height: 1031px;
    }
}

.HifiDesignPrototypeImage {
    &.mapping {
        .HifiDesignPrototype-image {
            width: 527px;
            height: 399px;
        }
        .HifiDesignPrototype-content {
            span {
                width: 300px;
            }
            a {
                background: #505d80;
            }
        }
    }
    .HifiDesignPrototype-image {
        width: 346px;
        height: 636px;
    }
    .HifiDesignPrototype-content {
        margin-left: 60px;
        span {
            width: 286px;
        }
        a {
            margin-top: 20px;
            border-radius: 10px;
            background: #fe531e;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            width: 206px;
            height: 80px;
            font-size: 32px;
        }
    }
}

.hifiPrototypeImage {
    .HifiDesignPrototype-image {
        width: 936px;
        height: 488px;
    }

    .line {
        margin: 150px 0 100px;
        height: 5px;
        width: 380px;
        background: #fff;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .HifiDesignPrototype-iframe {
    }
}

.uiux-carousel {
    &.mapping-carousel {
        &:before {
            background: #d7e9f6;
        }
        .swiper-slide {
            img {
                max-width: 519px;
                max-height: 393px;
            }
        }
    }
    position: relative;
    padding: 90px 0;
    &:before {
        background: #d3e4cf;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(-50%);
        width: 200vw;
    }
    .swiper {
        // padding-bottom: 50px;
    }
    .swiper-slide {
        img {
            width: 100%;
            width: 100%;
            max-width: 700px;
            max-height: 1080px;
        }
    }
    .carousel-navigation {
        cursor: pointer;
        position: absolute;
        top: 50%;
        margin-top: -54px;
        left: -55px;
        z-index: 1;
        &.arrow-right {
            left: auto;
            right: -55px;
        }
        &.swiper-button-disabled {
            opacity: 0;
        }
    }
}

.FinalReflections {
    padding: 50px 0 100px;
    .FinalReflections-text {
        margin: 0 -20px;
        span {
            padding: 0 20px;
        }
    }
}
