.agency-banner {
    padding: 110px 0;
    background: $backgroundGradientRed;
    .left-infos {
        .home-bigtitle {
            max-width: 240px;
        }
        .title {
            max-width: 110px;
        }
        .text-line {
            width: 41px;
            height: 2px;
            background: $white;
            margin: 17px 0 10px;
        }
    }

    .right-infos {
        max-width: 544px;

        .subdesc {
            margin-top: 6px;
        }

        .top-text {
        }

        .mid-text {
            margin-top: 15px;
            width: 100%;
        }
        .bottom-text {
            margin-top: 15px;
            .left-text {
            }
            .right-text {
            }
        }
    }
}

span {
    b {
        background: $background-button;
        color: $black;
    }
}
.component-spaces {
    padding: 20px 0;
    .title-spaces {
        margin-bottom: 20px;
    }
}

.obs-banner {
    padding: 40px 0 20px;
}

.quick-summary {
    .quick-summary-buttons {
        margin: 45px -10px 0;
        a {
            margin: 0 10px;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 30px;
            @include transition();
            &.slide-button {
                background: $background-button;
            }
            &.skip-ahead-button {
                background: $red;
            }
            &:hover {
                &.slide-button {
                    color: $white;
                    background: $text-color04;
                }
                &.skip-ahead-button {
                    color: $white;
                    background: $redHover;
                }
            }
        }
    }
}

.getting-started {
    .getting-started-links {
        margin: 20px 0 0;
        a {
            color: $blue;
            text-decoration: underline;
        }
    }

    .getting-started-box {
        margin: 45px 0 0;
        .text {
            &.title {
                margin-bottom: 7px;
            }
            .tex-subtitle {
                margin: 0;
            }
        }
        .box-item {
            background: $gray;
            border-radius: 10px;
            padding: 25px 30px;
            width: 290px;
            &.box-right {
                width: 600px;
                .text-left {
                    padding-right: 10px;
                }
                .text-right {
                    padding-left: 43px;
                }
            }
        }
    }
}

.undestanding-problem {
    .getting-started-more-text {
        margin: 40px -20px 10px;
        .box-item {
            padding: 0 20px;
            width: 48%;
            &.box-right {
                width: 50%;
            }
            .text {
                &.italic {
                    margin-bottom: 10px;
                }
            }

            .getting-started-links {
                margin-top: 10px;
                a {
                    color: $blue;
                    text-decoration: underline;
                }
            }
        }
    }
}

.polygon-brands {
    .polygon-brands-content {
        margin: 30px -20px 0;
        .box-item {
            padding: 10px 20px;
            width: 32%;
            .box-item-content {
                margin-top: 10px;
                .box-item-content-img {
                    width: 74px;
                    height: 76px;
                    margin-right: 10px;
                    // border-radius: 3.859px;
                    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    img {
                    }
                }
                .box-item-content-text {
                    width: calc(100% - 84px);
                }
            }
        }
    }
}

.user-research {
    .text {
        &.subtitle {
            margin: 20px 0;
        }
    }

    img {
        max-width: 790px;
        margin: 45px 0;
    }

    .user-research-more-text {
        .more-text-items {
            margin: 0 -35px;
            .more-text-item {
                padding: 0 35px;
                width: 100%;
            }
        }
    }
}

.journey-mapping {
    img {
        margin: 40px 0;
    }

    .journey-mapping-more-text {
        .more-text-items {
            margin: 10px 0;
            .more-text-item {
                padding: 10px 0;
                width: 100%;
            }
        }
    }
}

.uxr-insights {
    img {
        margin: 45px 0;
    }

    .uxr-insights-more-text {
        .more-text-items {
            margin: 10px 0;
            .more-text-item {
                width: 100%;
            }
        }
    }
}

.designing-for {
    .designing-for-text {
    }
    .designing-for-more-text {
        .more-text-items {
            margin: 0 -50px;
            .more-text-item {
                padding: 0 50px;
                width: 50%;
            }
        }
    }
}

.how-might-we {
    position: relative;
    &:before {
        background: linear-gradient(180deg, #d9d9d9 0%, rgba(217, 217, 217, 0) 69.87%);
        content: '';
        display: block;
        width: 200vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, 0);
    }
    span {
        b {
            color: $black;
            background: $white;
        }
    }
    .text {
        z-index: 1;
        position: relative;
    }
    .how-might-we-text {
        max-width: 453px;
        z-index: 1;
        position: relative;
    }

    .ship-tags {
        margin: 15px -15px;
        .ship-tags-item {
            color: $white;
            padding: 3px 10px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            background-color: #d03131;
            margin: 0 15px;
            border-radius: 99px;
            &.could-item {
                background-color: #f35800;
            }
            &.should-item {
                background-color: #ffa41b;
            }
        }
    }

    .how-might-we-more-text {
        .more-text-items {
            position: relative;
            margin: 93px -40px 0;
            .ship-tags {
                position: absolute;
                top: -49px;
                left: 40px;
                margin: 0;
                .ship-tags-item {
                    margin: 0;
                }
            }
            .more-text-item {
                padding: 0 40px;
                // width: 50%;
            }
        }
    }
}

.key-needs {
    position: relative;
    padding: 45px 0;
    .text {
        z-index: 1;
        position: relative;
    }
    &:before {
        background: linear-gradient(180deg, #6a2424 0%, #d03131 100%);
        content: '';
        display: block;
        width: 200vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, 0);
    }
    .key-needs-more-text {
        z-index: 1;
        position: relative;
        .more-text-items {
            .more-text-item {
                width: 100%;
                margin-top: 20px;
                span {
                    &:first-child {
                        width: 150px;
                    }
                    &:last-child {
                        width: 736px;
                    }
                }
                .text {
                    &.semibold {
                        width: 150px;
                    }
                }
            }
        }
    }
}

.sketing-ideation {
    .sketing-ideation-title-image {
        margin: 40px 0 20px;
    }
    .sketing-ideation-more-text {
        .more-text-items {
            width: 100%;
            .more-item {
                width: 100%;
                margin: 20px 0;
                .more-item-left {
                    .sketching-img {
                        width: 237px;
                        height: 326px;
                    }
                }
                .more-item-right {
                    max-width: 643px;
                }
            }
        }
    }
}

.protoype-wireframe {
    img {
        margin: 20px 0;
    }

    .protoype-wireframe-more-text {
        .more-text-items {
            margin: 10px 0;
            .more-text-item {
                width: 100%;
            }
        }
    }
}

.hifi-design {
    position: relative;
    padding: 45px 0;
    .text {
        z-index: 1;
        position: relative;
    }
    &:before {
        background: linear-gradient(180deg, #6a2424 0%, #d03131 100%);
        content: '';
        display: block;
        width: 200vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, 0);
    }
    .hifi-design-img {
        z-index: 1;
        position: relative;
        margin: 20px 0;
        img {
        }
    }

    .hifi-design-more-text {
        position: relative;
        z-index: 1;
        .line {
            margin: 150px 0;
            text-align: center;
            background: $white;
            border-radius: 20px;
            display: block;
            width: 380px;
            height: 5px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .more-text-items {
            .more-text-left {
                width: 330px;
                height: 636px;
                margin-right: -80px;
                z-index: 2;
            }
            .more-text-right {
                width: 621px;
                height: 621px;
                border-radius: 621px;
                background: #fff;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
                margin-left: -80px;
                .more-text-item {
                    padding-left: 200px;
                    span {
                        color: #fd531e;
                        font-size: 32px;
                    }

                    a {
                        margin-top: 15px;
                        font-size: 32px;
                        color: $white;
                        background: #fd531e;
                        padding: 20px 30px;
                        max-width: 210px;
                        border-radius: 10px;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    }
                }
            }
        }
    }
}

.development-handoff {
    position: relative;
    margin: 45px 0 0;

    .development-handoff-more-text {
        position: relative;
        z-index: 1;
        margin-top: 40px;

        .more-text-items {
            margin: -25px 0 0 0;
            .more-text-item {
                max-width: 256px;
                padding: 25px 0;
            }
        }
    }
}
